/* Works on Firefox */
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #c41e3a transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;    
}

*::-webkit-scrollbar-track {
  background: transparent; 
}

*::-webkit-scrollbar-thumb {
  background-color: #C41E3A;    /* color of the scroll thumb */
}

a {
  overflow: hidden; /* The little social buttons have a scrollbar, this hides it */
}

body {
  overflow: overlay;
}

.headshot {
  border-radius: 50%;
  border: white 3px solid;
  max-width: 200px;
  max-height: 200px;
}